<div class="display-switcher">
  <span>{{ 'View the results' }}</span>
  <ul class="icon-list inline">
      <li class="active">
        <i class="icon-document" aria-hidden="true"></i><strong>As list</strong>
      </li>
      <li>
        <i class="icon-marker" aria-hidden="true"></i><a href="javascript:(void);">On map</a>
      </li>
  </ul>
</div>
