<div class="accordion--link dropdown--link">
    <button aria-controls="accordion--link--single--content--{{ loopNumberLink }}" type="button" class="accordion--button accordion--link--button" aria-expanded="false" >
        {{ buttonText }}
        {% include '@icon' with { "icon": "chevron-down" } %}
    </button>
    <div id="accordion--link--single--content--{{ loopNumberLink }}" class="accordion--link--content" aria-hidden="true" hidden="hidden">
        {% include '@accordion--multiple' with {
            items: [
                {
                    'loopNumber': 15,
                    'buttonText': 'First item',
                    'content': '<p>Multiple item accordions are contained in a list element.</p>' ~
                    '<p>They are indicated with a \'plus\' or \'minus\' icon</p>' ~
                    '<p>Below is some nonsens text.</p>' ~
                    '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ' ~
                    'Animi culpa dolorum enim molestiae molestias nemo nulla quas sed, ' ~
                    'temporibus voluptatem!</p>'
                },
                {
                    'loopNumber': 16,
                    'buttonText': 'Second item',
                    'content': '<p>Single item accordions are indicated by a chevron.</p>' ~
                    '<p>Below is some nonsens text.</p>' ~
                    '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ' ~
                    'Animi culpa dolorum enim molestiae molestias nemo nulla quas sed, ' ~
                    'temporibus voluptatem!</p>'
                },
                {
                    'loopNumber': 17,
                    'buttonText': 'Third item',
                    'content': '<p>Single item accordions are indicated by a chevron.</p>' ~
                    '<p>Below is some nonsens text.</p>' ~
                    '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ' ~
                    'Animi culpa dolorum enim molestiae molestias nemo nulla quas sed, ' ~
                    'temporibus voluptatem!</p>'
                },
                {
                    'loopNumber': 18,
                    'buttonText': 'Fourth item',
                    'content': '<p>Single item accordions are indicated by a chevron.</p>' ~
                    '<p>Below is some nonsens text.</p>' ~
                    '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ' ~
                    'Animi culpa dolorum enim molestiae molestias nemo nulla quas sed, ' ~
                    'temporibus voluptatem!</p>'
                }
            ]
        } %}
    </div>
</div>
